@font-face {
  font-family: "Muli";
  src: url("/fonts/Muli-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Muli";
  src: url("/fonts/Muli-Light.ttf");
  font-weight: 200;
}

@font-face {
  font-family: "Muli";
  src: url("/fonts/Muli-Bold.ttf");
  font-weight: 700;
}
