@import "./fonts.css";

:root {
  --white: hsl(0, 0%, 96%);
  --black: hsl(0, 0%, 14%);
  --light-gray: hsl(0, 0%, 90%);

  --bg-color: var(--black);
  --text-color: var(--white);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Muli", sans-serif;
  font-weight: 200;
  font-size: 1em;
}

section {
  margin: 3em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

section h1 {
  font-size: 2em;
}

.header {
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
}

a.text-link {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 700;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  text-decoration: none;
  flex: 0 1 30%;
  margin: 1%;
  background-color: var(--white);
  color: var(--black);
  border-radius: 8px;
  transition: transform 0.15s;
  font-size: 1.33em;
}

.card:hover {
  transform: scale(1.04);
}

.card-text-container {
  margin: 0.5rem 1.5rem;
}

.card-text-container p {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 0.25em 0;
}

.card-text-container h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin: 0.25em 0;
}

.card-img {
  padding: 1.5em 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card-img > img {
  height: 60%;
  width: 60%;
}

ul.tags {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

span.tag {
  display: flex;
  align-items: center;

  background-color: var(--light-gray);
  padding: 0.25em 0.5em;
  margin: 0.25em;
  border-radius: 8px;
}

span.tag img {
  height: 1.1em;
  width: 1.1em;
  padding: 0 0.3em 0 0;
}
