@import "./fonts.css";

:root {
  --white: hsl(0, 0%, 96%);
  --black: hsl(0, 0%, 14%);

  --bg-color: var(--black);
  --text-color: var(--white);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Muli", sans-serif;
  font-weight: 200;
  font-size: 1.33em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

.header {
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
}

a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 700;
}
