@import "./fonts.css";

:root {
  --white: hsl(0, 0%, 96%);
  --black: hsl(0, 0%, 14%);
  --light-gray: hsl(0, 0%, 93%);

  --blue: #1589b6;
  --dark-blue: #0d526e;
  --purple: #50328a;
  --dark-purple: #33205a;
  --green: #a7b866;
  --dark-green: #57622d;
  --yellow: #ffd326;
  --dark-yellow: #8f7200;
  --orange: #ff6e12;
  --dark-orange: #a33f00;
  --red: #ff1f3c;
  --dark-red: #8f0013;
  --barely-off-white: #fdf9f6;
  --off-white: #fcf1eb;
  --offer-white: #fde8dd;
  --offest-white: #fce4d4;
}

/* @media (prefers) */

body {
  --bg-color: var(--offer-white);
  --sub-bg-color: var(--off-white);
  --header-color: var(--dark-blue);
  --text-color: var(--black);

  --tag-bg: var(--barely-off-white);
  --tag-fg: var(--black);

  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Muli", sans-serif;
  font-weight: 200;
  font-size: 1em;
  padding: 0em 1em;
}

section {
  max-width: 1600px;
  margin: auto;
}

.serif {
  font-family: "Made Dillan", "Cambria", Times, serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: "Made Dillan", "Cambria", Times, serif;
  color: var(--header-color);
}

section h1 {
  font-size: 2em;
}

.header {
  min-height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  text-align: center;
}

@media screen and (max-width: 550px) {
  .header {
    font-size: 1.5em;
  }
}

a.text-link {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 700;
}

.project-list {
  display: grid;
  gap: 30px 30px;
  margin: auto;
  padding: 1em 2%;
}

@media screen and (min-width: 740px) {
  .project-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1180px) {
  .project-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.card {
  text-decoration: none;
  background-color: var(--sub-bg-color);
  color: var(--black);
  border-radius: 12px;
  transition: transform 0.15s;
  font-size: 1.33em;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.card:hover {
  transform: scale(1.04);
}

.card-text-container {
  margin: 0.5rem 1.5rem;
}

.card-text-container p {
  font-weight: 400;
  font-size: 1rem;
  margin: 0.25em 0;
}

.card-text-container h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin: 0.25em 0;
  /* font-family: "Muli", sans-serif; */
  color: var(--black);
}

.card-img {
  padding: 1em 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card-img > img {
  height: 60%;
  width: 60%;
}

ul.tags {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;

  height: 100%;
}

span.tag {
  display: flex;
  align-items: center;

  background-color: var(--tag-bg);
  color: var(--tag-fg);
  font-weight: 400;
  padding: 0.25em 0.5em;
  margin: 0.25em;
  border-radius: 8px;
  font-size: 0.8em;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

span.tag img {
  height: 1.1em;
  width: 1.1em;
  padding: 0 0.3em 0 0;
}
