@import "./fonts.css";

:root {
  --white: hsl(0, 0%, 96%);
  --black: hsl(0, 0%, 14%);

  --bg-color: var(--black);
  --text-color: var(--white);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Muli", sans-serif;
  font-weight: 200;
  font-size: 1.33em;
}

section {
  margin: 3em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

h1 {
  font-size: 1em;
}

.header {
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
}

a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 700;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  flex: 0 1 30%;
  margin: 1%;
  background-color: var(--white);
  color: var(--black);
  border-radius: 8px;
  transition: transform 0.15s;
}

.card:hover {
  transform: scale(1.04);
}

.card-text-container {
  margin: 1.5em 1.5em;
}

.card-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-img > img {
  height: 70%;
  width: 70%;
}
